# Visual Studio temporary files
.vs/
*.dll
*.pdb
*.vsidx
*.json
*.dll
*.cache
*.pdb
Data/obj/Debug/netstandard2.0/Data.AssemblyInfo.cs
Core/obj/Debug/netstandard2.0/Core.AssemblyInfoInputs.cache
Core/obj/Debug/netstandard2.0/Core.AssemblyInfo.cs
BusinessEntities/obj/BusinessEntities.csproj.nuget.dgspec.json
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.AssemblyInfo.cs
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.AssemblyInfoInputs.cache
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.csproj.AssemblyReference.cache
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.csproj.BuildWithSkipAnalyzers
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.csproj.FileListAbsolute.txt
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.csproj.CopyComplete
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.csproj.AssemblyReference.cache
BusinessEntities/obj/Debug/netstandard2.0/BusinessEntities.AssemblyInfoInputs.cache
BusinessEntities/obj/project.assets.json
BusinessEntities/obj/project.nuget.cache
Common/obj/Common.csproj.nuget.dgspec.json
WebApi/obj/Debug/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/WebApi.csproj.CopyComplete
WebApi/obj/Debug/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/WebApi.csproj.AssemblyReference.cache
WebApi/bin/SimpleInjector.xml
WebApi/bin/System.Net.Http.Formatting.xml
WebApi/bin/System.Web.Helpers.xml
WebApi/bin/System.Web.Http.WebHost.xml
WebApi/bin/System.Web.Http.xml
WebApi/bin/System.Web.Mvc.xml
WebApi/bin/System.Web.Optimization.xml
WebApi/bin/System.Web.Razor.xml
WebApi/bin/System.Web.WebPages.Deployment.xml
WebApi/bin/System.Web.WebPages.Razor.xml
WebApi/bin/System.Web.WebPages.xml
WebApi/bin/WebApi.dll.config
WebApi/bin/SimpleInjector.Integration.WebApi.xml
WebApi/bin/roslyn/csc.exe.config
WebApi/bin/roslyn/csc.rsp
WebApi/bin/roslyn/csi.exe
WebApi/bin/roslyn/csi.exe.config
WebApi/bin/roslyn/csi.rsp
WebApi/bin/roslyn/Microsoft.CSharp.Core.targets
WebApi/bin/roslyn/Microsoft.Managed.Core.targets
WebApi/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebApi/bin/roslyn/vbc.exe
WebApi/bin/roslyn/vbc.exe.config
WebApi/bin/roslyn/vbc.rsp
WebApi/bin/roslyn/VBCSCompiler.exe.config
WebApi/bin/roslyn/csc.exe
WebApi/bin/Newtonsoft.Json.xml
WebApi/bin/Raven.Abstractions.xml
WebApi/bin/Raven.Client.Lightweight.xml
WebApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Data/obj/Debug/netstandard2.0/Data.AssemblyInfo.cs
Data/obj/Debug/netstandard2.0/Data.AssemblyInfoInputs.cache
Data/obj/Debug/netstandard2.0/Data.csproj.AssemblyReference.cache
Data/obj/Debug/netstandard2.0/Data.csproj.BuildWithSkipAnalyzers
Data/obj/Debug/netstandard2.0/Data.csproj.CopyComplete
Data/obj/Debug/netstandard2.0/Data.csproj.FileListAbsolute.txt
Data/obj/Data.csproj.nuget.dgspec.json
Data/obj/Debug/netstandard2.0/Data.AssemblyInfo.cs
Data/obj/Debug/netstandard2.0/Data.AssemblyInfoInputs.cache
Data/obj/Debug/netstandard2.0/Data.csproj.AssemblyReference.cache
Data/obj/Data.csproj.nuget.dgspec.json
Data/obj/project.nuget.cache
Common/obj/Debug/netstandard2.0/Common.AssemblyInfo.cs
Common/obj/Debug/netstandard2.0/Common.AssemblyInfoInputs.cache
Common/obj/Debug/netstandard2.0/Common.csproj.BuildWithSkipAnalyzers
Common/obj/Debug/netstandard2.0/Common.csproj.FileListAbsolute.txt
Common/obj/project.assets.json
Common/obj/project.nuget.cache
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Debug/netstandard2.0/Core.AssemblyInfo.cs
Core/obj/Debug/netstandard2.0/Core.csproj.AssemblyReference.cache
Core/obj/Debug/netstandard2.0/Core.csproj.BuildWithSkipAnalyzers
Core/obj/Debug/netstandard2.0/Core.csproj.CopyComplete
Core/obj/Debug/netstandard2.0/Core.csproj.FileListAbsolute.txt
Core/obj/Debug/netstandard2.0/Core.AssemblyInfoInputs.cache
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Data/obj/project.assets.json
BusinessEntities/obj/BusinessEntities.csproj.nuget.dgspec.json
BusinessEntities/obj/BusinessEntities.csproj.nuget.dgspec.json
